@using Microsoft.WindowsAzure.ActiveDirectory.GraphHelper;

@{
    ViewBag.Title = "Home Page";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Queries TBD
            </p>
        </div>
    </section>
}

<table id="ManagerList">
	<tr>
		<th>displayName</th>
        <th>mailNickname</th>
        <th>jobTitle</th>
        <th>department</th>
    </tr>
@foreach (AadUser user in ViewBag.ancestorsAndMainPerson)
{
	<tr>
		<td>@user.displayName</td>
		<td>@user.mailNickname</td>
		<td>@user.jobTitle</td>
		<td>@user.department</td>
	</tr>
}
</table>

<table id="OrgColumns">
	<tr>
@foreach (List<AadUser> directList in ViewBag.directsOfDirects)
{
    <td>
        <table>
            @foreach (AadUser user in directList)
            {
                <tr>
		            <td>@user.displayName</td>
		            <td>@user.mailNickname</td>
		            <td>@user.jobTitle</td>
		            <td>@user.department</td>
                </tr>
            }
        </table>
    </td>
}
</table>