@using Microsoft.WindowsAzure.ActiveDirectory.GraphHelper;

@{
    ViewBag.Title = "Home Page";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Queries TBD
            </p>
        </div>
    </section>
}

<table id="Splitter"><tr>
<td>
<table id="ManagerList">
	<tr>
		<th>displayName (mailNickname)<br />jobTitle</th>
    </tr>
@for (int i = 0; i < ViewBag.ancestorsAndMainPerson.Count-1; i++)
{
	<tr class="highlightable">
		<td><a href="/?upn=@ViewBag.ancestorsAndMainPerson[i].userPrincipalName">@ViewBag.ancestorsAndMainPerson[i].displayName</a> (@ViewBag.ancestorsAndMainPerson[i].mailNickname)<br />@ViewBag.ancestorsAndMainPerson[i].jobTitle</td>
	</tr>
}
</table>

<table id="MainPerson">
	<tr class="highlightable">
		<td><a href="/?upn=@ViewBag.ancestorsAndMainPerson[ViewBag.ancestorsAndMainPerson.Count-1].userPrincipalName">@ViewBag.ancestorsAndMainPerson[ViewBag.ancestorsAndMainPerson.Count-1].displayName</a> (@ViewBag.ancestorsAndMainPerson[ViewBag.ancestorsAndMainPerson.Count-1].mailNickname)<br />@ViewBag.ancestorsAndMainPerson[ViewBag.ancestorsAndMainPerson.Count-1].jobTitle</td>
	</tr>
</table>

<table id="OrgColumns">
	<tr>
@foreach (List<AadUser> directList in ViewBag.directsOfDirects)
{
    <td>
        <table>
            @foreach (AadUser user in directList)
            {
                <tr class="highlightable">
            		<td><a href="/?upn=@user.userPrincipalName">@user.displayName</a> (@user.mailNickname)<br />@user.jobTitle</td>
                </tr>
            }
        </table>
    </td>
}
</table>
</td>
<td>
	<form action="">
        <fieldset> <legend>Editable Attributes</legend>
			<div><label for="displayName"><pre>displayName: </pre></label> <input type="text" id="displayName" name="displayName"></div>
			<div><label for="jobTitle"><pre>jobTitle: </pre></label> <input type="text" id="jobTitle" name="jobTitle"></div>
			<div><label for="department"><pre>department: </pre></label> <input type="text" id="department" name="department"></div>
			<div><label for="manager"><pre>manager: </pre></label> <input type="text" id="manager" name="manager"></div>
		</fieldset>
		<fieldset> <legend>Readonly Attributes</legend>
			<div><label for="UPN"><pre>UPN: </pre></label> <input type="text" id="UPN" name="UPN"></div>
			<div><label for="DLkeywords"><pre>DL keywords: </pre></label> <input type="text" id="DLkeywords" name="DLkeywords"></div>
			<div><label for="OwnedDLs"><pre>Owned DLs: </pre></label> <input type="text" id="OwnedDLs" name="OwnedDLs"></div>
			<div><label for="Schools"><pre>Schools: </pre></label> <input type="text" id="Schools" name="Schools"></div>
			<div><label for="Employers"><pre>Employers: </pre></label> <input type="text" id="Employers" name="Employers"></div>
        </fieldset>
        <fieldset> <legend>Extension Attributes</legend>
			<div><label for="Trio"><pre>Trio: </pre></label> <input type="text" id="Trio" name="Trio"></div>
			<div><label for="LinkedInURL"><pre>LinkedIn URL: </pre></label> <input type="text" id="LinkedInURL" name="LinkedInURL"></div>
		</fieldset>
		<button type="submit" id="submit-go">Create</button>
		<button type="submit" id="submit-go">Update</button>
		<button type="submit" id="submit-go">Delete</button>
	</form>
</td>

</tr></table>
